---
layout: page
permalink: /students/index.html
---

<div class="student-list">
  {% assign students = site.students | sort: 'last_name' %}
  {% for student in students %}
    {% assign github_username = student.student_id %}
    {% if student.github_username %}
      {% assign github_username = student.github_username %}
    {% endif %}
    <a href="{{ student.link }}">
      <div class="student">
        <h2><a href="https://{{ github_username }}.github.io/" class="blank-link">{{ student.first_name }} {{ student.last_name }}</a></h2>
        <a href="https://github.com/{{ github_username }}/{{ github_username }}.github.io" class="student-list__github-link">github.com/{{ github_username }}</a>
      </div>
    </a>
  {% endfor %}
</div>
