.header {
  position: relative;
  top: 60px;
}

.nav {
  line-height: 1.4;

  a {
    position: relative;
  }

  .active {
    &:before {
      content: url(../assets/images/flower.svg);
      position: absolute;
      top: 50%;
      left: -25px;
      width: 18px;
      height: 18px;
      margin-top: -14px;
    }
  }
}

.nav__header {
  margin-bottom: 1em;
}

html {
  overflow-x: hidden;
}

.footer {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0;

  li + li {
    margin-top: 1em;
  }

  @include breakpoint(sm) {
    display: block;
  }
}

.mobile-header,
.mobile-footer {
  text-align: center;
}

.mobile-header {
  margin-top: $line-height * 2;
  margin-bottom: $line-height;

  .header {
    position: static;
  }

  @include breakpoint(sm) {
    display: none;
  }
}

.mobile-footer-inner {
  padding-top: $line-height;
  padding-bottom: $line-height;
}

.mobile-footer {
  background: $hover-accent-color;

  .footer {
    position: static;
    display: block;
  }

  @include breakpoint(sm) {
    display: none;
  }
}

.hamburger,
.mobile-nav {
  @include breakpoint(sm) {
    display: none;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 60px;
  padding: 25px 20px;
  cursor: pointer;
  z-index: 3;
}

.hamburger__line {
  width: 25px;
  height: 2px;
  background: $black;
  margin: 0 auto;
}

.hamburger__line--2,
.hamburger__line--3 {
  margin-top: 3px;
}

.mobile-nav {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $site-background-color;
  text-align: center;

  .mobile-nav-active & {
    display: block;
  }
}

.content {
  margin-top: 30px;

  @include breakpoint(sm) {
    margin-top: 60px;
  }
}

.post__category {
  @include inline-code;
  display: inline-block;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 60px;
  height: 100vh;
  min-height: 550px;
  width: $sidebar-width;
  z-index: 2;

  @include breakpoint(sm) {
    display: block;
  }
}

.home-banner {
  text-align: center;
  margin: 30px 0 30px;
  position: relative;
  z-index: 1;

  @include breakpoint(sm) {
    margin: 60px 0 0;
  }
}

.mobile-banner {
  @include breakpoint(sm) {
    display: none;
  }
}

$eye-size: 50%;
$eye-width: 75%;
$eye-size-mobile: 60%;
$eye-width-mobile: 85%;
$pupil-size: 30%;

.eye {
  width: $eye-width-mobile;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include breakpoint(sm) {
    width: $eye-width;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (orientation: landscape) {
      margin-left: 95px;
    }
  }
}

.project-list {
  text-align: center;
  padding-left: 0 !important;
  margin-left: -1em;

  .project {
    margin-bottom: 1em;
  }

  @include breakpoint(sm) {
    text-align: left;
  }
}

.project {
  &:last-child {
    &,
    .project__title {
      margin-bottom: 0;
    }
  }
}

.project__info {
  display: block;
  text-align: center;

  @include breakpoint(sm) {
    display: inline-block;
    text-align: left;
  }
}

.layout--project .project__info {
  margin-bottom: 1em;
}

.project__title {
  margin-bottom: $line-height;
}

.project__categories,
.lecture__date {
  margin-top: 5px;
}

.lecture-list {
  padding-left: 0 !important;

  .lecture {
    margin-bottom: $line-height * 2;
    padding-left: 0;
  }
}

.page-content {
  min-height: calc(100vh - 200px);
  padding-bottom: 60px;
}

.page-footer-wrapper {
  margin-top: $line-height;
}

.page-footer {
  background-color: $hover-accent-color;
  padding-bottom: $line-height;
}

.project-credits {
  margin-top: $line-height * 2;
  margin-bottom: $line-height * 2;
}

.next-previous-page-navigation {
  margin-top: $line-height * 2;
  padding-bottom: $line-height;
  padding-left: $line-height;
  padding-right: $line-height;
  min-height: $line-height * 2;
}

.next-page {
  position: absolute;
  right: $line-height;
}

.reading-link {
  margin: 0 1em 1em 0;
  display: inline-block;
}

$reading-height-ratio: 0.8274111675;
$reading-width: 180px;
$reading-height: $reading-width / $reading-height-ratio;

.reading {
  background-image: url('/assets/ui/page.svg');
  background-repeat: no-repeat;
  background-size: $reading-width $reading-height;
  width: $reading-width;
  height: $reading-height;
  position: relative;
  display: inline-block;
  transition: transform 0.2s;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

.reading__inner {
  padding: 18px 14px 18px 18px;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

.student {
  margin-bottom: $line-height * 2;

  &:last-child {
    margin-bottom: 0;
  }
}

.student-list__github-link {
  margin-top: 5px;
  display: inline-block;
}

ol.agenda-list,
li.agenda {
  padding-left: 0 !important;
}

li.agenda {
  margin-bottom: 0 !important;
}

.agenda__row {
  border-bottom: 1px solid $black;
  padding: 20px 0;
  display: block;
}

a.agenda__row {
  &:hover {
    background-color: $hover-accent-color;
  }
}

.agenda-page-row {
  margin-bottom: $line-height * 2;
}

// Examples

.css-selector-image-example {
  background: $white;
  padding: 1em;
  text-align: center;

  img {
    filter: hue-rotate(69deg);
  }
}

.box-model-example {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 2em auto;
  border: 1px dashed $black;
  background: $white;
  box-sizing: content-box;
  padding: 30px;
}

.box-model-example__content-text {
  line-height: 100px;
}

// Grid example

.grid-example-container,
.grid-example-container-fluid,
.grid-example-row {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.grid-example-col {
  float: left;
  background: $off-white;
  border: 1px solid #000;
  padding: $gutter;
  margin-bottom: $gutter;
}

// Unit width: 100 / 12 = 8.33%
.grid-example-col-1  { width: 8.33%; }
.grid-example-col-2  { width: 16.66%; }
.grid-example-col-3  { width: 25%; }
.grid-example-col-4  { width: 33.33%; }
.grid-example-col-5  { width: 41.66%; }
.grid-example-col-6  { width: 50%; }
.grid-example-col-7  { width: 58.33%; }
.grid-example-col-8  { width: 66.66%; }
.grid-example-col-9  { width: 75%; }
.grid-example-col-10 { width: 83.33%; }
.grid-example-col-11 { width: 91.66%; }
.grid-example-col-12 { width: 100%; }

.page-layout-example-image {
  filter: hue-rotate(127deg);
}

// flowers
.flower {
  width: 371px;
  margin-top: -185px;
  margin-left: -185px;
  position: absolute;
  top: 25%;
  left: 10%;
  opacity: 1;
  transition: opacity 0.3s;
}

.flower img {
  z-index: 1;
  width: 100%;
  max-width: auto;
}

.flower-text {
  font-family: "Theinhardt-Regular", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: .5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.remove-flower {
  opacity: 0;
}
