html,
body {
  min-height: 100%;
}

html {
  @include font-regular;
  font-style: normal;
  box-sizing: border-box;
  border: 20px solid $site-background-color;

  @include breakpoint(sm) {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
}

.html--home {
  background-color: $site-background-color;
}

.html--not-home {
  background-color: $white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  vertical-align: top;
}

img {
  max-width: 100%;
}
